version: '3.9'

services:
  db:
    image: postgres:latest
    container_name: test_db
    restart: always
    networks:
      - my_network
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=test_db
    ports:
      - "5435:5432"
  app:
    build:
      context: .
    container_name: test_app
    dns:
      - 8.8.8.8
      - 8.8.4.4
    ports:
      - "8000:8000"
    networks:
      - my_network
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/test_db
networks:
  my_network:
    driver: bridge